// VARIABLES

//clr
$main-clr: #515151;
$accent-clr: #00ff6c;
$secondary-clr: #232323;
$white-clr: #fff;

//font
$main-font: 'Raleway', sans-serif;

//spacers
$section-spacing: 2.5em 0;

//BREAK POINTS
$bp-1: 768px;